
body{
  background-color: #222;
}
div{
}
.main h1{
  font-size: 33px;
  text-align: center;
  line-height: 90px;
}
.main{
  background-color: #fff;
  width: 320px;
  height: 320px;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.main .suka-to{
  width: 100px;
  height: 90px;
  bottom: 130px;
  left:50%;
  transform: translate(-50%, 0);
  position:fixed;
  z-index: 5;
}
.main .suka-to .kosi{
  /*
    #00336D
    #EAEAE0
    #4D9BE8
 */
  width: 78px;
  height: 13px;
  margin: 0 auto;
  background-color: #0f2350;
}
.main .suka-to .hirahira{
  position: relative;
  width: 70px;
  height: 77px;
  margin: 0 auto;
}
.main .suka-to .hirahira::after{
  display: block;
  background-color: #00164d;
  content: "";
  width: 70px;
  height: 70px;
}
.main .suka-to .hirahira div[class*="hirahira-"]{
  display: inline-block;
  background-color: #00164d;
  position: absolute;
  top: 0;
  width: 13px;
  height: 77px;
  border-radius:0 0 8px 8px;
}
.main .suka-to .hirahira div[class*="hirahira-"]::after{
  display: inline-block;
  content: "";
  width: 13px;
  height: 3px;
  margin-top: 68px;
  vertical-align: bottom;
  background-color: #fff;
}

.main .suka-to .hirahira .hirahira-1{
  margin-left: 0px;
  transform: rotate(15deg);
}
.main .suka-to .hirahira .hirahira-2{
  margin-left: 10px;
  transform: rotate(12deg);
}
.main .suka-to .hirahira .hirahira-3{
  margin-left: 20px;
  transform: rotate(10deg);
}
.main .suka-to .hirahira .hirahira-4{
  margin-left: 30px;
  transform: rotate(7deg);
}
.main .suka-to .hirahira .hirahira-5{
  margin-right: 0;
  transform: rotate(-15deg);
}
.main .suka-to .hirahira .hirahira-6{
  margin-right: 10px;
  transform: rotate(-12deg);
}
.main .suka-to .hirahira .hirahira-7{
  margin-right: 20px;
  transform: rotate(-10deg);
}
.main .suka-to .hirahira .hirahira-8{
  margin-right: 30px;
  transform: rotate(-7deg);
}
.main .suka-to .hirahira .hirahira-1,
.main .suka-to .hirahira .hirahira-2,
.main .suka-to .hirahira .hirahira-3,
.main .suka-to .hirahira .hirahira-4{
  transform-origin: right top;
  left: -22;
}
.main .suka-to .hirahira .hirahira-5,
.main .suka-to .hirahira .hirahira-6,
.main .suka-to .hirahira .hirahira-7,
.main .suka-to .hirahira .hirahira-8{
  transform-origin: left top;
  right: 0;
}

.main .pantu{
  /*
    #b4a7d6
    #8e7cc3
    #674ea7
    #ffffff
  */
  background-color: #b4a7d6;
  width: 75px;
  height: 40px;
  bottom: 160px;
  border-radius: 0 0 20px 20px;
  left:50%;
  transform: translate(-50%, 0);
  position:fixed;
  z-index: 4;
}
.main .pantu .kosi{
  background-color: #674ea7;
  width: 75px;
  height: 10px;
  position: absolute;
  z-index: 4;
}
.main .pantu .hirahira{
  width: 75px;
  height: 10px;
  position: absolute;
  top: 5px;
  z-index: 4;
}
.main .pantu .hirahira div[class*="hirahira-"]{
  background-color: #ffffff;
  display: inline-block;
  vertical-align: top;
  border-radius: 3.3px;
  width: 5.8px;
  height: 5.8px;
}
.main .pantu::after{
  content: "";
  clear: both;
  display: block;
}
.main .pantu div[class*="asi-"]{
  display: inline-block;
  vertical-align:bottom;
  background-color: #fec;
  width: 28px;
  height: 30px;
  margin-top: 20px;
}
.main .pantu .asi-l{
  float: left;
  margin-left: 0px;
  border-radius: 0 15px 15px 15px;
}
.main .pantu .asi-r{
  float: right;
  margin-right: 0px;
  border-radius: 15px 0 15px 15px;
}
.main .asi{
  width: 65px;
  height: 200px;
  bottom: 0;
  left:50%;
  transform: translate(-50%, 0);
  position:fixed;
  z-index: 3;
}
.main .asi div[class*="asi-"] {
  position: absolute;
  display: inline-block;
  background-color: #fec;
  width: 30px;
  height: 200px;
  border-radius: 15px;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}
.main .asi div[class*="asi-"]::after{
  background-color: #111;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 90px;
  border-radius: 0 0 20px 20px;
}
.main .asi .asi-l{
  left: 0;
  transform-origin: right top;
  transform: rotate(10deg);
  animation-name: asi-l-rotate;
  animation-duration: 3s;
}

.main .asi .asi-r{
  right: 0;
  transform-origin: left top;
  transform: rotate(-10deg);
  animation-name: asi-r-rotate;
  animation-duration: 4s;
}

@keyframes asi-r-rotate {
  0% {
    transform: rotate(-9deg);
  }

  50% {
    transform: rotate(-18deg);
  }

  100% {
    transform: rotate(-14deg);
  }
}
@keyframes asi-l-rotate {
  0% {
    transform: rotate(9deg);
  }

  50% {
    transform: rotate(18deg);
  }

  100% {
    transform: rotate(17deg);
  }
}
